<hr align="left|center|right">
<hr align="left|center|right">
<h1>Welcome to Clon-Quora!</h1>
<hr align="left|center|right">
<hr align="left" width="100%">

<!-- Aquí deberá ir la forma de HTML -->
<h5>Quora la construyen personas como tú que escriben respuestas para compartir sus conocimientos.</h5>
<h5>Puedes leer millones de respuestas fascinantes sobre todos los temas!</h5><br><br>

<a href="/loogin_user" ><button id="sesion" type="button">Iniciar Sesión</button></a>
<a href="/registrar" ><button id="sesion" type="button">Registrar</button></a>
