<hr align="left|center|right">
<hr align="left|center|right">
<h1>Aqui estan todas tus preguntas!</h1>
<hr align="left|center|right">
<hr align="left" width="100%">
<a href="/home" ><button id="sesion" type="button">Home</button></a>
<a href="/user_profile" ><button id="sesion" type="button">Mi Perfil</button></a>
<a href="/my_answers" ><button id="sesion" type="button">Mis Respuestas</button></a>
<a href="/my_questions" ><button id="sesion" type="button">Mis Preguntas</button></a>
<a href="/logout" ><button id="sesion" type="button">logaut</button></a>



  <div id="die">
    <%= erb :_my_questions %>
  </div>

