<hr align="left|center|right">
<hr align="left|center|right">
<h1>Perfil  de <%= current_user.username %>!</h1>
<hr align="left|center|right">
<hr align="left" width="100%">

<a href="/home" ><button id="sesion" type="button">Home</button></a>
<a href="/user_profile" ><button id="sesion" type="button">Mi Perfil</button></a>
<a href="/update_profilee" ><button id="sesion" type="button">Update Perfil</button></a>
<a href="/my_answers" ><button id="sesion" type="button">Mis Respuestas</button></a>
<a href="/my_questions" ><button id="sesion" type="button">Mis Preguntas</button></a>
<a href="/logout" ><button id="sesion" type="button">log out</button></a>

<h4><p> Este es tu perfil</p></h4>
<h3><p>User Name: <%= current_user.username %></p></h3>
<h3><p>Nombre: <%= current_user.name %></p></h3>
<h3><p>E-mail: <%= current_user.email %></p></h3>
  


  


  



